<h1>ADMINISTRADOR DE USUARIOS</h1>
<main>
  <div id='usrsContainer'></div>
  <div id='usrsSettings'>
    <label for='email'>Email</label>
    <input type='text' name='email' id='txtemail' />
    <label for='cmbbox'>Rol:</label>
    <select name='rol' id='cmbbox'>
      <option value='user'>User</option>
      <option value='premium'>Premium</option>
      <option value='admin'>Admin</option>
    </select>
    <button id='changerol'>CAMBIAR ROL</button>
    <button id='deleteuser'>ELIMINAR</button>
  </div>
  <a href='/views/products'>Volver</a>
</main>
<script src='/js/index.js'></script>