<div>
  <form action='/api/mailer/changepass' method='post'>
    <label for='email'>Email de nuevo: </label>
    <input type='text' name='email' />
    <label for='password'>Nueva contraseña: </label>
    <input type='password' name='password' />
    <input type='submit' />
  </form>
</div>